# Core Telegram
pyrogram==2.0.106
pyromod==1.5
tgcrypto
python-telegram-bot==20.6

# HTTP & Async
aiohttp
aiofiles
requests
httpx
cloudscraper

# Parsing
beautifulsoup4
bs4
hachoir
Unidecode

# Crypto
pycryptodome
PyJWT

# Database
motor

# Time
pytz

# Utilities
tqdm
colorama
termcolor
python-dotenv

# Web (Optional)
Flask
gunicorn
Jinja2
werkzeug
itsdangerous
streamlit
